output/main.exe
output/test.exe
python/__pycache__/ransac.cpython-311.pyc
python/__pycache__/rotCoords.cpython-311.pyc
Binarios Quartus

##
!*.qpf
!*.qsf
!*.qws
!*.bdf
!*.vhd
!*.v
!*.ptf
!*.bsf
!**/class.ptf
!*.tbd
!*.sof
## tbd
!*.tcl
!*.exe