<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\ti\projetos\LAB4\ransac\hardware\Quartus\software\RansacSoftware\RansacSoftware.elf"/>
<stringAttribute key="modelSimPath" value="D:\Quartus\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="RansacSoftware.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="RansacSoftware"/>
<stringAttribute key="spdPath" value="C:\ti\projetos\LAB4\ransac\hardware\Quartus\RANSAC_NIOS_tb.spd"/>
</launchConfiguration>
