<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\Eduardo\Documents\UFBA\2023.1\ENGG57\25.06.23\ransac-ransac_v2_review\ransac-ransac_v2_review\hardware\Quartus\software\TesteRANSAC\TesteRANSAC.elf"/>
<stringAttribute key="modelSimPath" value="C:\intelFPGA_lite\18.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="TesteRANSAC.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="TesteRANSAC"/>
<stringAttribute key="spdPath" value="C:\Users\Eduardo\Documents\UFBA\2023.1\ENGG57\25.06.23\ransac-ransac_v2_review\ransac-ransac_v2_review\hardware\Quartus\RANSAC_NIOS_tb.spd"/>
</launchConfiguration>
